* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(190, 177, 36);
  width: 100%;
}

h1 {
  text-align: center;
  margin: auto;
  color: #a76a2a;
}

section {
  position: relative;
  padding: 15px;
}

div {
  background-color: silver;
  border: 2px solid brown;
  margin: auto;
}

.chicken {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(187, 255, 71);
/*     
}
.beef {
    float: right;
    color: rgb(166, 243, 33);
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid gray;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(246, 26, 26);
    
}
.sushi {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: rgb(225, 180, 17);
    
}
.menu {
    padding: 5px;
    border: none;
    background-color:  rgb(160, 154, 154);
    font-family:Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0px;
    height: 150px;
    overflow: auto;
    clear: right;
} */


/* https://getbootstrap.com/docs/5.3/layout/containers/*/
/* Large */
@media (min-width: 992px) {
  .column-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
  .colmn-md-6 {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .colmn-md-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Small */
@media (max-width: 767px) {
  .colmn-sm-12 {
    float: left;
    width: 100%;
  }
}
